# SMTP Configuration
SMTP_HOST=mail.yourdomain.com
SMTP_USER=you@yourdomain.com
SMTP_PASS=yourpassword
SMTP_PORT=465
SMTP_FROM_NAME=AetherDataLabs

# Recipients
MAIL_TO_ADDRESS=info@aetherdatalabs.com.au
MAIL_TO_NAME=AetherDataLabs
MAIL_CC_ADDRESS=
MAIL_CC_NAME=
